.admin-container {
  color: white;
  display: grid;
  gap: var(--space-xl);
  place-content: center;
}

.admin-container > * {
  margin: 5px;
}

.radio-container {
  display: flex;
  flex-flow: column;
}

.checkbox-container {
  display: flex;
  flex-flow: column;
}

