.player-name {
  color: black;
  font-weight: bold;
  text-align: left;
  width: 100px;
}

.small-resultview {
  > h2 {
    font-size: medium;
    margin-bottom: 0;
  }
  .result-bar-layout {
    margin: 5px 0;
  }

  .result-bar, .result-bar-background {
    height: 25px;
  }

  .result-bar-layout {
    padding: 0;
  }
}

.big-resultview {
  .result-bar-layout {
    margin: 15px 0;
  }

  .result-bar, .result-bar-background {
    height: 40px;
  }

  .result-bar-layout {
    padding: 5px;
  }
}

.result-bar-layout {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.result-bar-container {
  display: grid;
  flex-grow: 1;
}

.result-bar-container > * {
  grid-area: 1/1;
}

.result-bar-background {
  border-radius: 5px;
  background: lightgrey;
}

.result-bar {
  border-radius: 5px;
  background: linear-gradient(cornflowerblue,dodgerblue);
}

.result-text {
  padding-left: 6px;
  margin-top: auto;
  margin-bottom: auto;
  text-shadow: white 0 0 10px;
  color: black;
}