div {
  box-sizing: border-box;
}

h1, h2 {
  text-align: center;
}

button {
  background-color: darkgrey;
  //padding: 15px 32px;
  text-align: center;
  font-size: large;
  border-radius: 15px;
  border: none;
  color: black;
  margin: 10px 0;

  &:active {
    background-color: lightgrey;
  }
}
