.player-name {
  color: white;
  text-shadow: rgba(255, 255, 255, 0.35) 0 0 10px;
  font-weight: bold;
  text-align: left;
  width: 100px;
}

.small-resultview {
  > h2 {
    font-size: medium;
    margin-bottom: 7px;
    margin-top: 10px;
  }
  .result-bar-layout {
    margin: 5px 0;
  }

  .result-bar, .result-bar-background, .result-bar-last-points {
    height: 25px;
  }

  .result-bar-layout {
    padding: 0;
  }
}

.big-resultview {
  .result-bar-layout {
    margin: 15px 0;
  }

  .result-bar, .result-bar-background, .result-bar-last-points {
    height: 40px;
  }

  .result-bar-layout {
    padding: 5px;
  }
}

.result-bar-layout {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.result-bar-container {
  flex-grow: 1;
}

.result-bar-background {
  color: white; // color of text
  padding: 4px; // size of border around bar
  background: rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);

  display: grid;
  > * {
    grid-area: 1/1;
  }
}

.result-bar {
  text-shadow: rgba(255, 255, 255, 0.35) 0 0 10px;
  border-radius: 4px;
  background-color: #63778c;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  &.alt-color {
    background-color: #00698f;
  }
}

.result-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.result-text-left {
  padding-left: 6px;
}

.result-text-right {
  padding-right: 3px;
}

